Package: samm-pysammwr
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3-winrm, python3-xmltodict
Conflicts: 
Architecture: all
Homepage: https://www.samanagroup.com
Description: SAMM WinRM libraries. Samana Advanced Monitoring and Management
